h1 {
	color:#e6af4b;
	font-size:50px;
	margin: 12px;
	font-family: 'Cormorant', serif;
	font-weight:800;
}
h2 {
	color: black;
	font-size:30px;
	margin:20px 0px 5px 0px;
	font-family: 'Cormorant', serif;
}
.board {
	width: 730px;
	background-color:white;
	margin: 0 auto;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content:" ";
	clear:both;
	height:0;
	font-size:0;

}
.card {
	height:200px;
	width:150px;
	border: black solid 1px;
	border-radius: 10px;
	background: #9fa8a3;
	display: inline-block;
	float:left;
	margin:15px;

}
article {
	text-align:center;
	font-family:Arial, sans-serif;
}
.footer {
	font-family:Tahoma, sans-serif;
	font-size:18px;
	color:#FF0000;
}
header {
	text-align:center;
}

img {
	height:200px;
	width:150px;
	border-radius:10px;
}
.main {
	width:900px;
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	margin:0 auto;
}
body {
	background-color:#c5d5cb;
}
p {
	margin:12px;
	font-family: 'Cormorant', serif;
}
h3 {
	font-family: 'Cormorant', serif;
}
.popup .popuptext {
	visibility:hidden;
	border-radius: 7px;
    background:blue;
    margin:30px auto 0;
    padding:6px;  
	position:absolute;
    width:400px;
    top: 50%;
    left: 50%;
    margin-left: -200px; 
    margin-top: -40px; 
    text-align:center;
}
	
    
  


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
