h1 {
	color:black;
	font-size:50px;
	margin: 12px;
	font-family: 'Cormorant', serif;
	font-weight:800;
}
h2 {
	color: black;
	font-size:30px;
	margin:20px 0px 5px 0px;
	font-family: 'Cormorant', serif;
}
.board {
	width: 816px;
	background-color:white;
	margin: 0 auto;
}
.clearfix:after {
	visibility: hidden;
	display:block;
	content:" ";
	clear:both;
	height:0;
	font-size:0;

}
.card {
	height:150px;
	width:100px;
	border: black solid 3px;
	border-radius: 10px;
	background: radial-gradient(#9fa8a3, black, #9d2525);
	display: inline-block;
	float:left;
	margin:15px;
	
}
article {
	text-align:center;
	font-family:Arial, sans-serif;
}
.footer {
	font-family:Tahoma, sans-serif;
	font-size:18px;
	color:#FF0000;
}
header {
	text-align:center;
}

img {
	height:150px;
	width:100px;
	border-radius:10px;
}
.main {
	width:900px;
	background-color:white;
	border:1px solid black;
	border-radius:10px;
	margin:0 auto;
}
body {
	background-color:#c5d5cb;
}
p {
	margin:12px;
	margin-bottom:0px;
	font-family: 'Cormorant', serif;
}
h3 {
	font-family: 'Cormorant', serif;
}

.popup .popuptext {
	background-color:pink;
	top:265px;
	position:absolute;
	z-index: 1;
	margin:0 auto;
	left:0;
	right:0;
	width:25%;
	border-radius:7px;
	border-style:dashed;
	border-width: 5px;
	visibility: hidden;
	text-align:center;
	font-size:50px;
	font-family: 'Shrikhand', cursive;
	padding:10px;
}
.start {
	text-align:center;
	margin:15px;
	font-size:50px;
}    
button {
	color:red;
	font-family:"Cormorant", serif;
	font-size:30px;
	border-radius:7px;
	font-weight:800;
}
  
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
